#cube {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: yellow;
    display: block;
}

.cadre {
    position: relative;
    height: 600px;
    width: 900px;
    border: 1px solid;
    color: blue;
}